extends layout
block content
	h1 Strona Startowa
	p Lista dań, alergenów, wartość energetyczna, ilość produktów zawartych w posiłku oraz data modyfikacji. Kliknij w górnym menu Lista dań aby sprawdzić ich alergeny.